body {
    background-color:#90EE90; 

}p{
    font-family: Copper; 
    font-size:80px; 
    color:#000000;
    test- align: center; 
}
<h>Douglas Blog</h> 

<img.>ozzy-osbourne-cat-stevens-2-608x424.jpg</img.>